*.opensdf
*.sdf
*.suo
*.ipch
*.hl
*.obj
*.exe
*.dll
*.user
*.n
Debug
Release
x64
*.stackdump
*.hdll
/src/_main*
*.o
*.a
*.opendb
*.VC.db
/include/sdl
/include/openal
ReleaseStatic
/other/benchs/bench.*
/other/benchs/cpp
/other/benchs/flashout.txt

/bin*
/other/memory/*.dump
/src/_std
/src/hl
/src/haxe
/src/Makefile
