*.opensdf
*.sdf
*.suo
*.ipch
*.hl
*.obj
*.exe
*.dll
*.user
*.n
Debug
Release
x64
*.stackdump
*.hdll
/src/_main*
*.o
*.a
*.opendb
*.VC.db
/include/sdl
ReleaseStatic
/other/benchs/bench.*
/other/benchs/cpp
/other/benchs/flashout.txt
