*.opensdf
*.sdf
*.suo
*.ipch
*.hl
*.obj
*.exe
*.dll
*.user
*.n
Debug
Release
x64
*.stackdump
*.hdll
/src/_main*
*.dylib
*.o
*.a
*.opendb
*.VC.db
/hl
/include/sdl
/include/openal
ReleaseStatic
/other/benchs/bench.*
/other/benchs/cpp
/other/benchs/flashout.txt

/bin*
/other/memory/*.dump
/src/_std
/src/hl
/src/haxe
/src/Makefile
/include/ffmpeg
shiroLibs
ReleaseVS2013
/include/bullet
/libs/bullet/sample/sample.js
/libs/bullet/bullet_js.cpp
/libs/bullet/bullet.js
*.bc
/libs/mesa/sample/output.png
/other/debugger/debugger.js
node_modules

/other/debugger/package-lock.json
/other/debugger/*.map
/*.zip
