language: haxe

sudo: required
matrix:
  allow_failures:
    - os: osx
    - env: ARCH=64
  include:
    - haxe: development
      os: linux
      dist: trusty
      env: ARCH=32 BUILD=cmake
      before_install:
        - sudo dpkg --add-architecture i386
        - sudo apt-get update -y
        - sudo apt-get install gcc-multilib libz-dev:i386 zlib1g-dev:i386 libturbojpeg:i386 libpng-dev:i386 libsdl2-dev:i386 -y
      install:
        - cmake -DCMAKE_TOOLCHAIN_FILE=cmake/linux32.toolchain.cmake
        - make
      script:
        - make test ARGS="-V"
    - haxe: development
      os: linux
      dist: trusty
      env: ARCH=32 BUILD=make
      before_install:
        - sudo dpkg --add-architecture i386
        - sudo apt-get update -y
        - sudo apt-get install gcc-multilib libz-dev:i386 zlib1g-dev:i386 libturbojpeg:i386 libpng-dev:i386 libsdl2-dev:i386 -y
      before_script:
        - sudo ldconfig
    - haxe: development
      os: linux
      dist: trusty
      env: ARCH=64
      before_install:
        - sudo apt-get update -y
        - sudo apt-get install libz-dev zlib1g-dev libturbojpeg libpng-dev libsdl2-dev -y
      before_script:
        - sudo ldconfig
    - haxe: development
      os: osx
      osx_image: xcode8
      before_install:
        - brew update
        - brew install jpeg-turbo sdl2
    - haxe: development
      os: osx
      osx_image: xcode7.1
      before_install:
        - brew update
        - brew install jpeg-turbo sdl2

install:
  - make all
  - sudo make install_lib

script:
  - haxe -hl hello.hl -cp other/tests -main HelloWorld -D interp
  - ./hl hello.hl
  - haxe -hl src/_main.c -cp other/tests -main HelloWorld && make hlc
